* text=auto !eol
stable/0.8/Blis/AUTHORS -text
stable/0.8/Blis/INSTALL -text
stable/0.8/Blis/LICENSE -text
stable/0.8/Blis/Makefile.am -text
stable/0.8/Blis/Makefile.in -text
stable/0.8/Blis/README -text
stable/0.8/Blis/blis_addlibs.txt.in -text
stable/0.8/Blis/configure -text
stable/0.8/Blis/configure.ac -text
stable/0.8/Blis/examples/BlisMain.cpp -text
stable/0.8/Blis/examples/Makefile.in -text
stable/0.8/Blis/examples/VRP/AUTHORS -text
stable/0.8/Blis/examples/VRP/INSTALL -text
stable/0.8/Blis/examples/VRP/LICENSE -text
stable/0.8/Blis/examples/VRP/Makefile.in -text
stable/0.8/Blis/examples/VRP/README -text
stable/0.8/Blis/examples/VRP/VrpCommonTypes.h -text
stable/0.8/Blis/examples/VRP/VrpConstants.h -text
stable/0.8/Blis/examples/VRP/VrpCutGenerator.cpp -text
stable/0.8/Blis/examples/VRP/VrpCutGenerator.h -text
stable/0.8/Blis/examples/VRP/VrpMacros.h -text
stable/0.8/Blis/examples/VRP/VrpMain.cpp -text
stable/0.8/Blis/examples/VRP/VrpModel.cpp -text
stable/0.8/Blis/examples/VRP/VrpModel.h -text
stable/0.8/Blis/examples/VRP/VrpNetwork.cpp -text
stable/0.8/Blis/examples/VRP/VrpNetwork.h -text
stable/0.8/Blis/examples/VRP/VrpParams.cpp -text
stable/0.8/Blis/examples/VRP/VrpParams.h -text
stable/0.8/Blis/examples/VRP/VrpSolution.cpp -text
stable/0.8/Blis/examples/VRP/VrpSolution.h -text
stable/0.8/Blis/examples/VRP/VrpVariable.h -text
stable/0.8/Blis/examples/VRP/Win32/v8/Vrp.sln -text
stable/0.8/Blis/examples/VRP/Win32/v8/Vrp.suo -text
stable/0.8/Blis/examples/VRP/Win32/v8/Vrp.vcproj -text
stable/0.8/Blis/examples/VRP/data/sample.vrp -text
stable/0.8/Blis/examples/VRP/vrp.par -text
stable/0.8/Blis/examples/Win32/v8/Blis.sln -text
stable/0.8/Blis/examples/Win32/v8/Blis.suo -text
stable/0.8/Blis/examples/Win32/v8/Blis.vcproj -text
stable/0.8/Blis/examples/blis.par -text
stable/0.8/Blis/examples/data/air05.mps.gz -text
stable/0.8/Blis/examples/data/batchRun -text
stable/0.8/Blis/examples/data/bell5.mps.gz -text
stable/0.8/Blis/examples/data/bienst1.mps.gz -text
stable/0.8/Blis/examples/data/cls.T90.C3.F100.S4.mps.gz -text
stable/0.8/Blis/examples/data/cls.T90.C4.F100.S1.mps.gz -text
stable/0.8/Blis/examples/data/cls.T90.C4.F100.S3.mps.gz -text
stable/0.8/Blis/examples/data/collectResults -text
stable/0.8/Blis/examples/data/dano3_4.mps.gz -text
stable/0.8/Blis/examples/data/fc.60.20.3.mps.gz -text
stable/0.8/Blis/examples/data/fc.60.20.6.mps.gz -text
stable/0.8/Blis/examples/data/fc.60.20.7.mps.gz -text
stable/0.8/Blis/examples/data/fiber.mps.gz -text
stable/0.8/Blis/examples/data/gesa3_o.mps.gz -text
stable/0.8/Blis/examples/data/hard/aflow30a.mps -text
stable/0.8/Blis/examples/data/hard/bienst2.mps -text
stable/0.8/Blis/examples/data/hard/fc.60.20.4.mps -text
stable/0.8/Blis/examples/data/hard/mas76.mps -text
stable/0.8/Blis/examples/data/hard/mik.250-10-100.1.mps -text
stable/0.8/Blis/examples/data/hard/nexp.50.20.1.1.mps -text
stable/0.8/Blis/examples/data/hard/pk1.mps -text
stable/0.8/Blis/examples/data/hard/rout.mps -text
stable/0.8/Blis/examples/data/hard/sp97ar.mps.gz -text
stable/0.8/Blis/examples/data/hard/stats -text
stable/0.8/Blis/examples/data/misc07.mps.gz -text
stable/0.8/Blis/examples/data/neos2.mps.gz -text
stable/0.8/Blis/examples/data/neos21.mps.gz -text
stable/0.8/Blis/examples/data/nexp.50.20.2.5.mps.gz -text
stable/0.8/Blis/examples/data/nw04.mps.gz -text
stable/0.8/Blis/examples/data/p0548.mps.gz -text
stable/0.8/Blis/examples/data/qiu.mps.gz -text
stable/0.8/Blis/examples/data/sp98ir.mps.gz -text
stable/0.8/Blis/examples/data/stats -text
stable/0.8/Blis/examples/data/stein45.mps.gz -text
stable/0.8/Blis/examples/data/swath2.mps.gz -text
stable/0.8/Blis/examples/data/vpm2.mps.gz -text
stable/0.8/Blis/examples/egout.mps -text
stable/0.8/Blis/examples/flugpl.mps -text
stable/0.8/Blis/examples/gen.mps -text
stable/0.8/Blis/examples/knap1.mps -text
stable/0.8/Blis/examples/knap2.mps -text
stable/0.8/Blis/examples/knap3.mps -text
stable/0.8/Blis/examples/lamhosts -text
stable/0.8/Blis/inc/config_blis.h.in -text
stable/0.8/Blis/src/Blis.h -text
stable/0.8/Blis/src/BlisBranchObjectInt.cpp -text
stable/0.8/Blis/src/BlisBranchObjectInt.h -text
stable/0.8/Blis/src/BlisBranchStrategyMaxInf.cpp -text
stable/0.8/Blis/src/BlisBranchStrategyMaxInf.h -text
stable/0.8/Blis/src/BlisBranchStrategyPseudo.cpp -text
stable/0.8/Blis/src/BlisBranchStrategyPseudo.h -text
stable/0.8/Blis/src/BlisBranchStrategyRel.cpp -text
stable/0.8/Blis/src/BlisBranchStrategyRel.h -text
stable/0.8/Blis/src/BlisBranchStrategyStrong.cpp -text
stable/0.8/Blis/src/BlisBranchStrategyStrong.h -text
stable/0.8/Blis/src/BlisConGenerator.cpp -text
stable/0.8/Blis/src/BlisConGenerator.h -text
stable/0.8/Blis/src/BlisConfig.h -text
stable/0.8/Blis/src/BlisConstraint.cpp -text
stable/0.8/Blis/src/BlisConstraint.h -text
stable/0.8/Blis/src/BlisHelp.cpp -text
stable/0.8/Blis/src/BlisHelp.h -text
stable/0.8/Blis/src/BlisHeurRound.cpp -text
stable/0.8/Blis/src/BlisHeurRound.h -text
stable/0.8/Blis/src/BlisHeuristic.h -text
stable/0.8/Blis/src/BlisLicense.h -text
stable/0.8/Blis/src/BlisMessage.cpp -text
stable/0.8/Blis/src/BlisMessage.h -text
stable/0.8/Blis/src/BlisModel.cpp -text
stable/0.8/Blis/src/BlisModel.h -text
stable/0.8/Blis/src/BlisNodeDesc.h -text
stable/0.8/Blis/src/BlisObjectInt.cpp -text
stable/0.8/Blis/src/BlisObjectInt.h -text
stable/0.8/Blis/src/BlisParams.cpp -text
stable/0.8/Blis/src/BlisParams.h -text
stable/0.8/Blis/src/BlisPresolve.cpp -text
stable/0.8/Blis/src/BlisPresolve.h -text
stable/0.8/Blis/src/BlisPseudo.cpp -text
stable/0.8/Blis/src/BlisPseudo.h -text
stable/0.8/Blis/src/BlisSolution.h -text
stable/0.8/Blis/src/BlisSubTree.h -text
stable/0.8/Blis/src/BlisTreeNode.cpp -text
stable/0.8/Blis/src/BlisTreeNode.h -text
stable/0.8/Blis/src/BlisVariable.h -text
stable/0.8/Blis/src/Makefile.am -text
stable/0.8/Blis/src/Makefile.in -text
stable/0.8/Blis/test/Makefile.am -text
stable/0.8/Blis/test/Makefile.in -text
stable/0.8/Externals.release -text
stable/0.8/Makefile.am -text
stable/0.8/Makefile.in -text
stable/0.8/README -text
stable/0.8/Win32/v8/libBlis.vcproj -text
stable/0.8/config.guess -text
stable/0.8/config.sub -text
stable/0.8/configure -text
stable/0.8/configure.ac -text
stable/0.8/depcomp -text
stable/0.8/doxydoc/doxygen.conf -text
stable/0.8/install-sh -text
stable/0.8/ltmain.sh -text
stable/0.8/missing -text
trunk/Blis/AUTHORS -text
trunk/Blis/INSTALL -text
trunk/Blis/LICENSE -text
trunk/Blis/Makefile.am -text
trunk/Blis/Makefile.in -text
trunk/Blis/README -text
trunk/Blis/blis_addlibs.txt.in -text
trunk/Blis/configure -text
trunk/Blis/configure.ac -text
trunk/Blis/examples/BlisMain.cpp -text
trunk/Blis/examples/Makefile.in -text
trunk/Blis/examples/VRP/AUTHORS -text
trunk/Blis/examples/VRP/INSTALL -text
trunk/Blis/examples/VRP/LICENSE -text
trunk/Blis/examples/VRP/Makefile.in -text
trunk/Blis/examples/VRP/README -text
trunk/Blis/examples/VRP/VrpCommonTypes.h -text
trunk/Blis/examples/VRP/VrpConstants.h -text
trunk/Blis/examples/VRP/VrpCutGenerator.cpp -text
trunk/Blis/examples/VRP/VrpCutGenerator.h -text
trunk/Blis/examples/VRP/VrpMacros.h -text
trunk/Blis/examples/VRP/VrpMain.cpp -text
trunk/Blis/examples/VRP/VrpModel.cpp -text
trunk/Blis/examples/VRP/VrpModel.h -text
trunk/Blis/examples/VRP/VrpNetwork.cpp -text
trunk/Blis/examples/VRP/VrpNetwork.h -text
trunk/Blis/examples/VRP/VrpParams.cpp -text
trunk/Blis/examples/VRP/VrpParams.h -text
trunk/Blis/examples/VRP/VrpSolution.cpp -text
trunk/Blis/examples/VRP/VrpSolution.h -text
trunk/Blis/examples/VRP/VrpVariable.h -text
trunk/Blis/examples/VRP/Win32/v8/Vrp.sln -text
trunk/Blis/examples/VRP/Win32/v8/Vrp.suo -text
trunk/Blis/examples/VRP/Win32/v8/Vrp.vcproj -text
trunk/Blis/examples/VRP/data/sample.vrp -text
trunk/Blis/examples/VRP/vrp.par -text
trunk/Blis/examples/Win32/v8/Blis.sln -text
trunk/Blis/examples/Win32/v8/Blis.suo -text
trunk/Blis/examples/Win32/v8/Blis.vcproj -text
trunk/Blis/examples/blis.par -text
trunk/Blis/examples/data/air05.mps.gz -text
trunk/Blis/examples/data/batchRun -text
trunk/Blis/examples/data/bell5.mps.gz -text
trunk/Blis/examples/data/bienst1.mps.gz -text
trunk/Blis/examples/data/cls.T90.C3.F100.S4.mps.gz -text
trunk/Blis/examples/data/cls.T90.C4.F100.S1.mps.gz -text
trunk/Blis/examples/data/cls.T90.C4.F100.S3.mps.gz -text
trunk/Blis/examples/data/collectResults -text
trunk/Blis/examples/data/dano3_4.mps.gz -text
trunk/Blis/examples/data/fc.60.20.3.mps.gz -text
trunk/Blis/examples/data/fc.60.20.6.mps.gz -text
trunk/Blis/examples/data/fc.60.20.7.mps.gz -text
trunk/Blis/examples/data/fiber.mps.gz -text
trunk/Blis/examples/data/gesa3_o.mps.gz -text
trunk/Blis/examples/data/hard/aflow30a.mps -text
trunk/Blis/examples/data/hard/bienst2.mps -text
trunk/Blis/examples/data/hard/fc.60.20.4.mps -text
trunk/Blis/examples/data/hard/mas76.mps -text
trunk/Blis/examples/data/hard/mik.250-10-100.1.mps -text
trunk/Blis/examples/data/hard/nexp.50.20.1.1.mps -text
trunk/Blis/examples/data/hard/pk1.mps -text
trunk/Blis/examples/data/hard/rout.mps -text
trunk/Blis/examples/data/hard/sp97ar.mps.gz -text
trunk/Blis/examples/data/hard/stats -text
trunk/Blis/examples/data/misc07.mps.gz -text
trunk/Blis/examples/data/neos2.mps.gz -text
trunk/Blis/examples/data/neos21.mps.gz -text
trunk/Blis/examples/data/nexp.50.20.2.5.mps.gz -text
trunk/Blis/examples/data/nw04.mps.gz -text
trunk/Blis/examples/data/p0548.mps.gz -text
trunk/Blis/examples/data/qiu.mps.gz -text
trunk/Blis/examples/data/sp98ir.mps.gz -text
trunk/Blis/examples/data/stats -text
trunk/Blis/examples/data/stein45.mps.gz -text
trunk/Blis/examples/data/swath2.mps.gz -text
trunk/Blis/examples/data/vpm2.mps.gz -text
trunk/Blis/examples/egout.mps -text
trunk/Blis/examples/flugpl.mps -text
trunk/Blis/examples/gen.mps -text
trunk/Blis/examples/knap1.mps -text
trunk/Blis/examples/knap2.mps -text
trunk/Blis/examples/knap3.mps -text
trunk/Blis/examples/lamhosts -text
trunk/Blis/inc/config_blis.h.in -text
trunk/Blis/src/Blis.h -text
trunk/Blis/src/BlisBranchObjectInt.cpp -text
trunk/Blis/src/BlisBranchObjectInt.h -text
trunk/Blis/src/BlisBranchStrategyMaxInf.cpp -text
trunk/Blis/src/BlisBranchStrategyMaxInf.h -text
trunk/Blis/src/BlisBranchStrategyPseudo.cpp -text
trunk/Blis/src/BlisBranchStrategyPseudo.h -text
trunk/Blis/src/BlisBranchStrategyRel.cpp -text
trunk/Blis/src/BlisBranchStrategyRel.h -text
trunk/Blis/src/BlisBranchStrategyStrong.cpp -text
trunk/Blis/src/BlisBranchStrategyStrong.h -text
trunk/Blis/src/BlisConGenerator.cpp -text
trunk/Blis/src/BlisConGenerator.h -text
trunk/Blis/src/BlisConfig.h -text
trunk/Blis/src/BlisConstraint.cpp -text
trunk/Blis/src/BlisConstraint.h -text
trunk/Blis/src/BlisHelp.cpp -text
trunk/Blis/src/BlisHelp.h -text
trunk/Blis/src/BlisHeurRound.cpp -text
trunk/Blis/src/BlisHeurRound.h -text
trunk/Blis/src/BlisHeuristic.h -text
trunk/Blis/src/BlisLicense.h -text
trunk/Blis/src/BlisMessage.cpp -text
trunk/Blis/src/BlisMessage.h -text
trunk/Blis/src/BlisModel.cpp -text
trunk/Blis/src/BlisModel.h -text
trunk/Blis/src/BlisNodeDesc.h -text
trunk/Blis/src/BlisObjectInt.cpp -text
trunk/Blis/src/BlisObjectInt.h -text
trunk/Blis/src/BlisParams.cpp -text
trunk/Blis/src/BlisParams.h -text
trunk/Blis/src/BlisPresolve.cpp -text
trunk/Blis/src/BlisPresolve.h -text
trunk/Blis/src/BlisPseudo.cpp -text
trunk/Blis/src/BlisPseudo.h -text
trunk/Blis/src/BlisSolution.h -text
trunk/Blis/src/BlisSubTree.h -text
trunk/Blis/src/BlisTreeNode.cpp -text
trunk/Blis/src/BlisTreeNode.h -text
trunk/Blis/src/BlisVariable.h -text
trunk/Blis/src/Makefile.am -text
trunk/Blis/src/Makefile.in -text
trunk/Blis/test/Makefile.am -text
trunk/Blis/test/Makefile.in -text
trunk/Externals -text
trunk/Externals.release -text
trunk/Makefile.am -text
trunk/Makefile.in -text
trunk/README -text
trunk/Win32/v8/libBlis.vcproj -text
trunk/config.guess -text
trunk/config.sub -text
trunk/configure -text
trunk/configure.ac -text
trunk/depcomp -text
trunk/doxydoc/doxygen.conf -text
trunk/install-sh -text
trunk/ltmain.sh -text
trunk/missing -text
